html {
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-family: 'Kodchasan', sans-serif;
    height: 100%;
    margin: 0;
}
/* HEADER */
.header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 3% 0 3%;
    background-color: white;
    position: sticky;
    top: 0px;
}
.header h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5em;
}
#nav{
    width: 55%;
}
#nav a{
    margin-left: 4%;
    text-decoration: none;
    color: #313632;
    font-size: .9em;
}
#nav a:hover{
    color: black;
    text-decoration: underline;
}
#nav a:visited{
    color: black;
}
/* ABOUT */
#about{
    border: 1em solid #a0a967;
}
img{
    max-width: 300px;
}
.bio-contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 3% auto;
    background-color: white;
}

.name h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5em;
}
.bio{
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
}
/* WHY ART THERAPY */
#whyArt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}
.whyTitle{
    width: 30%;
    margin-left: 7%;
    background-color: #f9c804;
    padding: 3%;
    margin-right: 3%;
}
.whyDescription{
    width: 60%;
    margin-right: 7%;
    border: 1em solid #f9c804;
    padding: 7%;
}

/* APPROACH */
#approach{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5% 7% 0 7%;
    border: 1em solid #c2c929;
}
.approachTitle{
    background-color:#c2c929;
    width: 18%;
    margin: 5%;
    padding: 2%;
    text-align: center;
}
.approachDescription{
    padding: 0 5% 5% 5%;
}

/* PORTFOLIO */
#portfolio{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
    margin: 5% 7% 0 7%;
    background-color: #8d871f;
}
.portfolioTitle{
    background-color: #f9c804;
    text-align: center;
    font-size: 1.25em;
    width: 86%;
    margin: 5%;
    padding: 2%;
}
.group{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0 5% 5% 5%;
    padding: 2%;
}

/* CONTACT */

#contact{
    display: flex;
    flex-direction: row;
    margin: 5% 7% 5% 7%;
    border: 1em solid #a0a967;
    justify-content: space-between;
}
#contactInfo{
    margin: 5%;
}
#contactInfo a{
    text-decoration: none;
    color: #313632;
}
#contactInfo a:hover{
    color: black;
    text-decoration: underline;
}
#contactInfo a:visited{
    color: black;
}
/* CONTACT FORM */
#contactForm{
    margin: 5%;
    margin-top: 14%;
    width: 37%;
}
input{
    width: 65%;
}
textarea{
    width: 65%;
    height: 8em;
}
#name{
    margin-bottom: 4%;
}
#email{
    margin-bottom: 4%;
}
#msg{
    margin-bottom: 4%;
}
#msg label{
    margin-right: 3%;
}
#name label{
    margin-right: 12%;
}
#email label{
    margin-right: 13%;
}
.contactButton{
    text-align: right;
    margin-right: 30%;
}
/* FOOTER */
footer{
    background-color: #808681;
    height: 5%;
    font-size: .75em;
    padding: .5% 0 .5% 0;
    text-align: right;
    padding-right: 3%
}
.logo{
    max-width: 1%;
    margin-left: 1%;
}