html {
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-family: 'Kodchasan', sans-serif;
    height: 100%;
    margin: 0;
}
/* HEADER */
.header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 3% 0 3%;
    background-color: white;
    position: sticky;
    top: 0px;
}
.header h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5em;
}
#nav{
    width: 55%;
}
#nav a{
    margin-left: 4%;
    text-decoration: none;
    color: #313632;
    font-size: .9em;
}
#nav a:hover{
    color: black;
    text-decoration: underline;
}
#nav a:visited{
    color: black;
}
/* ABOUT */
#about{
    border: 1em solid #a0a967;
}
img{
    max-width: 300px;
}
.bio-contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 3% auto;
    background-color: white;
}

.name h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5em;
}
.bio{
    width: 80%;
    margin-top: 2%;
    margin-bottom: 3%;
}
/* WHY ART THERAPY */
#whyArt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}
.whyTitle{
    width: 30%;
    margin-left: 7%;
    background-color: #f9c804;
    padding: 3%;
    margin-right: 3%;
}
.whyDescription{
    width: 60%;
    margin-right: 7%;
    border: 1em solid #f9c804;
    padding: 7%;
}

/* APPROACH */
#approach{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5% 7% 0 7%;
    border: 1em solid #c2c929;
}
.approachTitle{
    background-color:#c2c929;
    width: 18%;
    margin: 5%;
    padding: 2%;
    text-align: center;
}
.approachDescription{
    padding: 0 5% 5% 5%;
}

.colorContain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    font-family: Arial;
}
.color{
    height: 100%;
    width: 15%;
}
#f{
    background-color: #a0a967;
}
#g{
    background-color: #f9c804;
}
#h{
    background-color: #c2c929;
}
#i{
    background-color: #8d871f;
}
#j{
    background-color:#808681;
}

.fonts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sample{
    border: 2px solid black;
    padding: 5%;
    margin: 3%;
    width: 30%;
}
#nanumGothic{
    font-family: 'Nanum Gothic', sans-serif;
}
#oxygen{
    font-family: 'Oxygen', sans-serif;
}
#montserrat{
    font-family: 'Montserrat Alternates', sans-serif;
}
#julius{
    font-family: 'Julius Sans One', sans-serif;
}
#kod{
font-family: 'Kodchasan', sans-serif;
}
/* FOOTER */
footer{
    background-color: #808681;
    height: 5%;
    font-size: .75em;
    padding: .5% 0 .5% 0;
    text-align: right;
    padding-right: 3%
}
.logo{
    max-width: 1%;
    margin-left: 1%;
}