html {
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-family: 'Kodchasan', sans-serif;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}
/* HEADER */
.header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 3% 0 3%;
    background-color: white;
    position: sticky;
    top: 0px;
}
.header h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5em;
}
#nav{
    width: 60%;
}
#nav a{
    margin-right: 4%;
    text-decoration: none;
    color: #313632;
    font-size: .9em;
}
#nav a:hover{
    color: black;
    text-decoration: underline;
}
#nav a:visited{
    color: black;
}
/* ABOUT */
#about{
    background-color: #808681;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container img{
    max-width: 30%;
}
.bio-contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 3%;
    margin-right: 1%;
    background-color: white;
}

.name h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5em;
}
.bio{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 3%;
}


.colorContain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    font-family: Arial;
}
.color{
    height: 100%;
    width: 15%;
}
#f{
    background-color: #a0a967;
}
#g{
    background-color: #f9c804;
}
#h{
    background-color: #c2c929;
}
#i{
    background-color: #8d871f;
}
#j{
    background-color:#808681;
}

.fonts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sample{
    border: 2px solid black;
    padding: 5%;
    margin: 3%;
    width: 30%;
}
#nanumGothic{
    font-family: 'Nanum Gothic', sans-serif;
}
#oxygen{
    font-family: 'Oxygen', sans-serif;
}
#montserrat{
    font-family: 'Montserrat Alternates', sans-serif;
}
#julius{
    font-family: 'Julius Sans One', sans-serif;
}
#kod{
font-family: 'Kodchasan', sans-serif;
}